<% title "Edit Profile" %>
<% if logged_in? %>
	<% if current_user == @user %>
		<h1>Account Info</h1>
		<%= render 'form' %>
	<% end %>
	<% if admin? %>		
		<%= render 'admin_form' %>
	<% end %>
		
	<% if !((current_user == @user) || admin?) %>
		Sorry, you can't edit other users' profiles
	<% end %>
<% else %>

	<%= render :partial => "partial/admin_only" %>

<% end %>