<%= content_tag_for(:li, sol, :class => 'text-smaller') do %>
	<%= link_to sol.crossword_puzzle.title, crossword_puzzle_path(sol.crossword_puzzle), :class=> "hoverLine"%>
	<span class="solutionListHome right">
		<%= link_to 'x', sol, :method => :delete, :remote => true, data: { confirm: 'Are you sure you want to delete your solution?' } %>
	</span>
<% end %>