// Place all the styles related to the CrosswordPuzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Ubiquitous Elements */
a {
		text-decoration: none;
		color: inherit;
}
a:visited {
		color: inherit;
}

hr {
	clear: left;
	margin: 0.3em 0 0.3em 0;
}
h3 {
	text-align: center;
	margin: 0.5em 0 0.5em 0;
}
h5 {
	margin: 0em 0 0.5em 0;
	clear: left;
}
h6 {
	margin: 0em 0 0.5em 0;
	clear: left;
}
button{
	margin: 0;
}

/* Generic Classes */
.left {
	float: left !important;
}
.right {
	float: right !important;
}
.hidden {
	display: none !important;
}
.weakHidden {
	display: none;
}
.pointer:hover {
	cursor: pointer;
}
input[type='checkbox'] {
	cursor: pointer;
}
.block {
	display: block !important;
}
.inline-block {
	display: inline-block !important;
}
.subtle-input {
	background: none;
	border: none;
	text-align: center;
	font-size: inherit;
}
.bold {
	font-weight: bold;
}

/* Specific Classes */
.shadow {
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.editTools {
	display: none;
}
.container {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.hiddenInput {
	padding: 0;
	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

tr.limited, th.limited {
	max-height: 10em;
	overflow: hidden;
}

td.limited {
	word-wrap: break-word;
	vertical-align: top;
	max-width: 20em;
	word-break: break-all;
}
table.backed {
	background-color: white !important;
}

/* The Document */
html {
	background: url(/assets/woodTableMidQBright.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
body {
	margin: 0;
	font-family:'Helvetica Neue',Arial,sans-serif;
	z-index: -4;
	position: relative;
	color: #333;
	font-size: 16px;
	background-color: rgba(255,255,255,0.15) !important;
	height: 100%;
	min-height: 38em;
}

/* Name of Puzzle */			
#puzzleName {
	width: 100%;
	height: 1em;
}

/* Advanced Controls */
#leftControls {
	height: 26.25em;
	width: 10.94em;
	background: url(/assets/clothNapkin.png);
	border-radius: 2px;
	padding: 0.25em 0.5em;
	position: relative;
	display: inline-block;
}
#leftControls button{
	float: left;
	font-size: 9px;
	height: 22px;
	padding: 0px 1px;
	margin: 0.3em 0.1em;
}
#leftControls img#pen {
	margin: auto;
	display: block;
	padding: 0 4.2em;
}
#advBracket {
	text-align: center;
	margin: auto;
	display: block;
	padding-right: 0.5em;
	margin-bottom: 0.25em;
	opacity: 0.8;
}
#advHeader {				
	text-align: center;
	margin-top: 0.5em;
	font-size: 1.2em;
	margin-bottom: 0em;
	padding-right: 0.5em;
}	
.puzControlCheckContainer {
	float: left;
	width: 40px;
	font-size: 9px;
	line-height: 6px;
}
.puzControlCheckContainer input[type='checkbox']{
	width: 6px;
	height: 10px;
}
#stats {
	font-size: 10px;
}

/* The Puzzle */
#puzzleBox {
	height: 34em;
	padding: 2em 0.25em 0.25em 1.5em;
	width: 58.4em;
	margin: auto;
}
.top-notice {
	background: whitesmoke;
    position: absolute;
    top: 0.5em;
    margin: 0;
   	border-radius: 1em;
    padding: 1.5em;
    font-size: larger;
    z-index: 100000;
    left: 40%;
}
#topPuzzleBox {
	width: inherit;
	height: 30em;
}
#botPuzzleBox {
	position: relative;
	height: 130px;
	background-color: rgba(200,200,200,0.8);
	border-radius: 1em;
	padding: 0.3em 0.5em;
}
#cwordContainer {
	position: relative;
}
#cword {
	overflow: auto;
	clear: none;
	margin: 0em 1.5em 0 1.5em;
	background: url(/assets/crosswordPaper.jpeg);
	position: relative;
	display: inline-block;
}
#titleBar {
	position: absolute;
	top:-1.4em;
	left: 1.6em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	background-color: lightgrey;
	padding: 0.2em 1em 0em 1em;
	font-weight: bold;
	max-width: 23em;
	overflow: hidden;
}
#creatorCredit {
	position: absolute;
	bottom:-1.3em;
	right: 1.8em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	background-color: lightgrey;
	padding: 0em 1em 0.2em 1em;
	font-size: smaller;
}
div.row {
	clear: both;
}
.cellContainer{
	position: relative;
	border: 0;
	float: left;
	padding: 0;
	margin: 0;
	overflow:hidden;
	z-index: 400;
	min-width: 1.6em;
}
.cellContainer.hoverCell {
	background-color: #F9FCC6 !important;
}
input.cell {
	max-width: 1em;
	margin: 0;
	font-size: 125%;
	padding: 0.125em;
	border: solid 0.0625em black;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.0);
	z-index: 500;
}
input.void {
	background-color: black !important;
}
.correct {
	background-color: lightgreen !important;
}

.incorrect {
	background-color: pink !important;
}
.cellNum {
	position: absolute;
	font-size: 10px;
	min-width: 1em;
	min-height: 1em;
	max-width: 1em;
	max-height: 1em;
	top: 0em;
	left: 0.1em;
	z-index: 450;
}

/* Clue Display and Controls */
#rightControls {
	display: inline-block;
	overflow: auto;
	width: 17.5em;
	padding-right: 0.4em;
	padding-bottom: 1em;
}

#dishStain {
	margin-left: 14%;
	position: absolute;
	display: block;
	margin-top: 16%;
}

/* Data Input/Output */
#cwordInputOutput {
	clear: right;
	display: block;
}
#outputVoids {
	clear: right;
	display: block;
}
.inputOutputButton {
	float: left;
	display: block;
	margin: 0.2em 0.5em;
}			

/* Add Clues */
#clueForm {
	overflow: auto;
	position: relative;
	width: 16.5em;
	background-color: rgba(200,200,200,0.8);
	border-radius: 1em;
	padding: 0.3em 0.5em;
}
#clueForm span, #clueForm button{
	float: left;
}
#clueForm textarea {
	float: left;
}
#clueCell {
	width: 1.7em;
	text-align: center;
	float: left;
}
#clueCellID {
	position: relative;
	line-height: 24px;
	float: left;
	overflow: auto;
	width: inherit;
}
#clueCellID input[type='checkbox'] {
	margin-top:6px;
	margin-bottom: 6px;
}
#clueCellIDtitle {
	line-height:14px;
	font-size: 14px;
	vertical-align: center;
	margin-right: 0.3em;
	padding: 4px 0 1px 0;
}
.clueCellRadio {
	width: 50px;
	position: relative;
	height: 19px;
	overflow: auto;
	font-size: 10px;
	vertical-align: center;
	line-height: 19px;
	float: left;
}
#clueButton {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-weight: bold;
	width: 66px;
	height: 24px;
	
}

/* Clue Display */
#currentClue {
	overflow: auto;
	position: relative;
	min-height: 280px;
	background: url(/assets/dish.png);
}
#clueHolder {
	margin-top: 3em;
}
.curA, .curD {
	display: none;
	margin-left: 3em;
	margin-right: 3em;
	font-size: 14px;
}


/* Third-party On-Off Switch */
.onoffswitch {
	position: relative; width: 73px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
#clueCellID .onoffswitch {
	float: left;
	margin: 0 0.5em;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
	width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > div {
	float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;
	font-size: 0.625em; color: white; font-family: 'Helvetica Neue',Arial,sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
	padding-left: 0.625em;
	background-color: #C4C4C4; color: #FFFFFF;
}
.onoffswitch-inner .onoffswitch-inactive {
	padding-right: 0.625em;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.onoffswitch-switch {
	width: 0.75em; margin: 0.22em;
	background: #FFFFFF;
	border: 0.125em solid #999999; border-radius: 1.25em;
	position: absolute; top: 0; bottom: 0; right: 3.125em;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0; 
}

/* Results, Checking Answers*/
#results {
	background-color: whitesmoke;
	border-radius: 0.5em;
	padding: 0.3em 0.5em;
	height: 5em;
	margin-top: 2em;
	position: relative;
}
#results input {
	display: inline-block;
}
#cheat {
	position: absolute;
	right: 1em;
	bottom: 0.5em;
}

/* Footer */
#crossFooter {
	height: 1.5em;
	line-height: 1.5em;
	background-color: rgba(200,200,200,0.6);
	position: absolute;
	bottom: 0;
	min-width: 100%;
	max-width: 100%;
}
#footerContent {
	padding-left: 0.5em;
}
#happyHanukkahMessage {
	position: fixed;
	width: 50%;
	margin: 20% 25% 60% 25%;
	background-color: rgba(0,0,255,0.85);
	color: white;
	z-index: 10000;
	text-align: center;
	border-radius: 2em;
	font-size: 2em;
	padding: 1em 0;
	display: none;
}
#wordsToUseBar {
	position: absolute;
	left: 0;
	top: 10em;
	background: black;
	margin: 0;
	min-height: 3.5em;
	max-height: 15em;
	border-radius: 1em 1em 0.5em 0.5em;
	width: 9.2em;
	cursor: move;
	z-index: 1000;
	overflow: hidden;
}
#wordsUseContainer {
	max-height: 11.2em;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 2.8em 0.2em 0.4em 0.2em;
	padding: 0;
	position: relative;
}
/*
#wordsUseContainer li:last-of-type {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
*/
#wordsToUseBar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: default;
	position: relative;
}
#wordsToUseBar input[type=text] {
	position: absolute;
	top: 0.8em;
	font-weight: bold;
	font-size: 1em;
	margin-left: 0.2em;
}
#wordsToUseBar ul li{
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid lightgrey;
}
#wordsToUseBar ul > li > span {
	text-transform: uppercase;
}
#wordsToUse > li {
	background-color: whitesmoke;
	color: grey;
}
#wordsUsed > li {
	background-color: lightgreen;
	color: green;
	text-decoration: line-through;
}
.editMode {
	color: coral;
}
.solveMode {
	color: green;
}
/*
.deleteWord {
	position: absolute;
	right: 0.8em;
	top: 0.1em;
	background: white;
	border: 1px solid grey;
	font-size: 0.6em;
	border-radius: 0.6em;
	padding: 0 0.2em;
	cursor: pointer !important;
	z-index: 4000;
}
.deleteWord:hover {
	background: pink;
}
*/
#notes {
	background: url(/assets/notePaper.png);
	position: absolute;
	width: 51.96em;
	height: 10em;
	bottom: 0;
}

img#admin-only {
	display: block;
	margin: 0.4em auto;
}
.orLogIn {
	position: absolute;
	right: 1em;
	bottom: 0.6em;
	font-size: small;
}
.signUpButton {
	background-color: darkgrey;
	display: inline-block;
	padding: 0.6em 1em;
	font-weight: bold;
}
#logged-out-welcome-container {
	width: 23.3em;
	height: 26.5em;
	margin: 2em auto;
	background: url(/assets/chalkboardBlack.png) no-repeat;
	-webkit-box-shadow: 0.5em 0.625em 1.8em rgba(0, 0, 0, 1);
	-moz-box-shadow: 0.5em 0.625em 1.8em rgba(0, 0, 0, 1);
	box-shadow: 0.5em 0.625em 1.8em rgba(0, 0, 0, 1);
	padding-top: 3em;
	color: lightgrey;
	text-align: center;
}
#welcomeBoard {
	margin: 0em auto 2em auto;
	display: block;
	background: url(/assets/welcomeBoard.png) no-repeat;
	height: 4em;
	width: 11.6em;
}
.chalkboardButton {
	margin: 0em auto 2em auto;
	padding: 0.6em 0;
	color: whitesmoke !important;
	border: 1px outset;
	display: block;
	text-align: center;
	width: 10em;
	background: rgba(255,255,255,0.2);
	font-size: inherit;
	width: 10em;
	font-weight: bold;
	cursor: pointer;
}
.chalkboardInput {
	border-bottom: 1px whitesmoke dotted;
	color: white;
}
.homeFolder {
	background-color: rgba(200,200,200,0.9);
	margin: 1em auto;
	width: 30em;
	padding: 0em 2em 0.4em 2em;
	border-radius: 0.5em;
}
.homeFolderItem {
	border: 1px dashed grey;
}
.homeFolderItem.published{
	background-color: rgb(180,255,180);
}
.homeFolderItem.unpublished{
	background-color: rgb(255,255,180);
}
.editButton {
	background: white;
	border: 1px outset grey;
	padding: 0.3em 1em;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	display: inline-block;
	cursor: pointer;
}
.hangFlag {
	margin: 0 auto;
	float: center;
	max-width: 20em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	text-align: center;
	background: url(/assets/crosswordPaper.jpeg);
	padding: 0em 1em 0.4em 1em;
}
.newPuzzleUser {
	margin: 1em auto 0 auto;
	max-width: 15em;
	text-align: center;
	background: url(/assets/crosswordPaper.jpeg);
	padding: 0.5em 1em;
}
.newPuzzleUser p {
	background: rgba(0,0,0,0.1);
	padding: 0.3em 0.6em;
}
.newPuzzleUserInput {
	color: #333;
}
.newPuzzleUserButton {
	margin: 1em auto 1em auto;
	padding: 0.6em 0;
	border: 1px outset;
	display: block;
	text-align: center;
	width: 10em;
	background: lightgrey;
	font-size: inherit;
	width: 10em;
	font-weight: bold;
	cursor: pointer;
}
.under-dash {
	border-bottom: 1px dashed #333;
}
.homeMenu {
	background: rgb(229,222,196);
	width: 42.3em;
	margin: 0 auto;
	overflow: auto;
	border-radius: 0.2em;
}
.homeMenuSide {
	width: 20em;
	min-height: 10em;
	background: rgb(250,245,239);
	display: inline-block;
	margin: 1em 0.5em 1em 0.5em;
	position: relative;
}
.homeMenu h3 {
	
}
.menuCorner {
	width: 1em;
	height: 1em;
	position: absolute;
	background: rgb(229,222,196);
}
.topLeftMenuCorner {
	top: 0;
	left: 0;
	border-bottom-right-radius: 1em;
}
.topRightMenuCorner {
	top: 0;
	right: 0;
	border-bottom-left-radius: 1em;
}
.bottomLeftMenuCorner {
	bottom: 0;
	left: 0;
	border-top-right-radius: 1em;
}
.bottomRightMenuCorner {
	bottom: 0;
	right: 0;
	border-top-left-radius: 1em;
}