/* The Header */
#crossHeader {
	width: inherit;
	height: 3.375em;
	background-color: rgba(25,25,25,0.9);
}
.downNav {
	background: url(/assets/downNav.png) no-repeat right top;
	width: 1.1em !important;
	position: absolute !important;
	height: 0.5em !important;
	right: 40%;
	top: 3.6em;
	padding: 0 !important;
}
.leftNav {
	background: url(/assets/leftNav.png) no-repeat right top;
	position: absolute !important;
	width: 0.5em !important;
	height: 1.8em !important;
	left: 3%;
	top:20%;
	padding: 0 !important;
}
#crossHeaderContainer {
	width: 950px;
	margin: auto;
	height: 100%;
	position: relative;
}
#crossHeaderContainer img {
	margin: 4px 0em 4px 1em;
	padding: 0 1em;
	float: left;
}
nav.headerNav {
	height: 100%;
	vertical-align: middle;
	font-weight: bold;
	text-shadow: #111 1px 2px 0px;
	color: #EEE;
	line-height: 54px;
	font-size: 12px;
	padding: 0;
	position: relative;
}
#headQuote {
	margin: 0 2em;
	color: #eee;
	min-width: 25em;
	max-width: 27.5em;
	font-family: cursive;
	float: left;
	height: 100%;
	line-height: 3.375em;				
}
nav.headerNav div {
	height: 100%;
	position: relative;
	float: inherit;
	padding: 0 1em;
}
 nav.headerNav a {
 	overflow: auto;
 	float: inherit;
 }
nav.headerNav div:hover {
	background-color: rgba(255,255,255,0.1);
}
nav.headerNav div ul{
	position: absolute;
	z-index: 1;
	list-style-type: none;
	width: 100%;
	padding: 0;
	background-color: rgba(25,25,25,0.9);
}
.dropMenu {
	left: 0em;
	top: 3.5em;
	display: none;
	border-radius: 0 0 0.75em 0;
}
.leftMenu {
	position: absolute !important;
	right: 100%;
	top: 0;
	display:none;
	border-right:1px solid #444;
}
ul.leftMenu {
	border-radius: 0.75em 0 0 0.75em;
}
ul.leftMenu li:last-child {
	border-bottom: 0;
}

ul.dropMenu li, ul.leftMenu li {
	position: relative;
}
nav.headerNav div ul li{
	text-align: center;
	height: 2em;
	line-height: 2em;
	font-size: 11px;
}
nav.headerNav div ul.dropMenu > li:last-child{
	border-bottom: 0;
}
nav.headerNav div ul.dropMenu > li:nth-child(1){
	border-top: 1px solid #444;
}
nav.headerNav div ul li:nth-child(3){
	border-radius: inherit;
	border-bottom: 0px;
}
nav.headerNav div ul li:hover{
	background-color: rgba(255,255,255,0.1);
}
.headerSpacer {
	height: 100%;
	max-width: 1px;
	border-right: 1px solid #444;
	border-left: 1px solid #222;
	margin: 0;
	float: left;
	margin: 0;
	position: relative;
}