<% if current_user && current_user.admin %> 

	<h1>Editing clue</h1>
	
	<%= render 'form' %>
	
	<%= link_to 'Show', @clue %> |
	<%= link_to 'Back', clues_path %>

<% else %>

	<%= render :partial => "partial/admin_only" %>

<% end %>